body{
    /*background-color: blueviolet;*/
    background-image: url('rune.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    
    background-size: 1300px 650px;
}
h1{
    color:rosybrown;
    
}
h2 {
color: rgb(128, 0, 28); 


}
h5{
    background-color: aqua;
    color:red;
}
h6{color:orange;}